<% include ./../../helpers/notify-validate %>
<% include ./../../helpers/selectbox %>
<% include ./../../helpers/input %>
<% include ./../../helpers/form-group %>
<%
    collection = 'items';
    linkPrefix = `/${systemConfigs.prefixAdmin}/${collection}`;
    const statusSelectbox = [
            {value: 'default', name: '- Select status -'},
            {value: 'active', name: 'Active'},
            {value: 'inactive', name: 'Inactive'},
        ];
    const formGroup = [
        {label: 'name', input: inputHelper('name', item.name, 'text')},
        {label: 'status', input: selectboxHelper('status', statusSelectbox, item.status)},
        {label: 'ordering', input: inputHelper('ordering', item.ordering, 'number')},
        {label: 'content', input: inputHelper('content', item.content, 'text')},
    ];
%>

<%- showErrors(errors) %>

<div class="card card-info card-outline">
    <div class="card-body">
        <form action="<%= linkPrefix %>/form" method="post" class="mb-0" id="admin-form">
            <%- formGroupHelper(formGroup) %>
            <div class="form-group row">
                <%- inputHelper('id', item.id, 'hidden') %>
            </div>
        </form>`
        
    </div>
    <div class="card-footer">
        <div class="col-12 col-sm-8 offset-sm-2">
            <button id="admin-form-submit" class="btn btn-sm btn-success mr-1"> Save</button>
            <a href="<%= linkPrefix %>" class="btn btn-sm btn-danger mr-1"> Cancel</a>
        </div>
    </div>

</div>