<div>
    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Categories</div>
</div>
<div class="clearfix"></div>
<div class="fh5co_tags_all">
    <% categoriesList.forEach(category => {%>

        <a href="/category/<%= category.slug %>" class="fh5co_tagg"><%= category.name %></a>
        
        <%}) 
    %>
</div>

<div>
    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Random Articles</div>
</div>
<%
    randomArticles.forEach(article => {%>
        <div class="row pb-3">
            <div class="col-5 align-self-center">
                <img src="<%= folderUploadArticles + article.thumb %>" alt="img" class="fh5co_most_trading"/>
            </div>
            <div class="col-7 paddding">
                <div class="most_fh5co_treding_font"> <%= formatSummaryHelper(article.name, 50) %></div>
                <div class="most_fh5co_treding_font_123"> <%= formatDateHelper(article.created.time) %></div>
            </div>
        </div>
        <%});
%>
